* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding:0;
    outline: none;
    font: inherit;
    font-size:100%;
    vertical-align:baseline;
    font-family: monospace;
    user-select: none;
  }
  /*
  a:link {text-decoration: none;color: #000;}
  a:visited {text-decoration: none; color: #000;}
  a:hover {text-decoration: none;color: #000;}
  a:active {text-decoration: none;color: #000;}
  */